<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ProductSans"> Food </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ProductSans" color="dark">

  <!-- Illustracion para el food -->
  <img class="listIllustration" src="../../../assets/illustrations/list.png" alt="listIllustration"
    title="listIllustration">
  <br>

  <div>
    <strong class="capitalize">Food List</strong> <br> <br>
  </div>


    <ion-item lines="none" color="dark" *ngFor="let food of (foods | async)">
      <ion-item color="dark">
        <ion-checkbox color="warning" slot="start"></ion-checkbox>
      </ion-item>
      <ion-item color="dark" disabled="true">
      <ion-label color="warning" class="ProductSans">
        <ion-text color="warning">
          <h1> {{ food.description }}</h1>
        </ion-text>
        <ion-text color="success">
          <h1>${{ food.price }}</h1>
        </ion-text>
      </ion-label>
    </ion-item>
      <!-- <ion-label color="success" class="ProductSans">Price:
        {{ food.price }} </ion-label> -->
      <!-- Price: ${{ food.price }} -->
      <ion-icon name="eye" size="large"  color="secondary" slot="end" [routerLink]="'/view-food/' + food.id"></ion-icon>
      <!-- <ion-button fill="outline" slot="end" [routerLink]="'/view-food/' + food.id">View Food</ion-button> -->
      <br>

    </ion-item>
 

  <!-- <ion-item>
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h3>H3 Primary Title</h3>
      </ion-text>
      <p>Paragraph line 1</p>
      <ion-text color="secondary">
        <p>Paragraph line 2 secondary</p>
      </ion-text>
    </ion-label>
  </ion-item> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="lowyellow" [routerLink]="'/add-food'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>